<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="css/bootstrap.min.css">       
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel='stylesheet' href='http://css-tricks.com/examples/ViewSourceButton/css/style.css'>
	<link rel='stylesheet' href='http://css-tricks.com/examples/ViewSourceButton/css/prettify.css'>
        <link rel="stylesheet" href="css/main.css">

       
    </head>
    <body ng-app="walletApp" ng-controller="walletCtrl">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        
        <a href="#" id="forTheFunnyChaps" title="Click me!" data-toggle="modal" data-target="#myModal"></a>
        <div class="modal fade"  id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <p>Hi guys! Hope you're all good!</p>
                        <p>Don't worry about the time on the github commit, this is what I've done tonight too:</p>
                        <figure>
                            <img src="img/british-bbq.jpg" alt="BBQ and the rain, a love story" class="img-responsive"/>
                            <figcaption>A proper British BBQ with the rain! (Yes of course it was raining for 15 minutes and those 15 minutes where just after a light the BBQ one!)</figcaption>
                        </figure>  
                        <br/><br/>
                        <em>PS: This is not me on the picture!</em><br/><br/>
                        <em>PPS: Sorry Theo this isn't in ReactJS but my recruiter did pressure me to do this as quick as possible (don't tell him!)</em>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        
        <nav class="navbar navbar-default">
            <div class="container-fluid">            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-wallet">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">WalletApp</a>
                </div>           
                <div class="collapse navbar-collapse" id="navbar-collapse-wallet">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                        <li><a href="#" ng-click="reset();">Reset</a></li>
                        <li><a href="#source-code" id="view-source">View Source</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Currency is: {{currency}}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Change currency <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#" ng-click="updateCurrency('£');">&pound;</a></li>
                                <li><a href="#" ng-click="updateCurrency('€');">&euro;</a></li>
                                <li><a href="#" ng-click="updateCurrency('$');">$</a></li>                                
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="container">
        
           

            <div class="row">
             
                <div class="col-md-12 jumbotron">
                    <h2>Create a new transaction</h2>
                    <form class="form-inline" name="myForm" novalidate>
                        <div class="form-group">
                            <label class="sr-only" for="amount">Amount</label>
                            <div class="input-group">
                                <div class="input-group-addon">{{currency}}</div>
                                <input type="number" class="form-control" id="amount" name="amount" ng-model="amount" placeholder="Amount" required>
                            </div>
                            <label class="sr-only" for="transactionType">Transaction type</label>
                            <select class="form-control" name="transactionType" id="transactionType" ng-model="transactionType">
                                 <option ng-repeat="transactionType in transactionTypes" value="{{transactionType}}">{{transactionType}}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary" ng-click="newTransaction();"
                            ng-disabled="myForm.amount.$dirty && myForm.amount.$invalid || myForm.amount.$pristine">
                            Make transaction
                        </button>
                    </form>
                    <span class="error" ng-show="myForm.amount.$dirty && myForm.amount.$error.required">Amount is required.</span>
                    <span class="error" ng-show="myForm.amount.$error.number">Not a valid amount.</span>
                    <span class="error" ng-show="negativeAmount">You cannot add or remove a negative amount.</span>
                    <span class="error" ng-if="broke">You don't have enough money to do this transaction.</span>
                </div>

             
                
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2>List of transactions</h2>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Amount</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="tx in wallet track by $index">
                                <td>{{tx.transactionType}}</td>
                                <td>{{currency}}{{tx.amount}}</td>
                                <td>{{tx.timestamp  | date:"MM/dd/yyyy 'at' h:mma"}}</td>
                            </tr>
                             <tr class="tableTotal">
                                <td>Current balance:</td>
                                <td>{{total}}{{currency}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
        
        <div id="source-code">
			<a href="#" id="x"><img src="http://css-tricks.com/examples/ViewSourceButton/images/x.png" alt="close"></a>
		</div>
        
       
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
        <script src="js/vendor/bootstrap.min.js"></script>
	    <script src="http://css-tricks.com/examples/ViewSourceButton/prettify/prettify.js"></script>
        
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        
        <script src="js/walletApp.js"></script>
        <script>
            $(function() {
                $("<pre />", {
                    "html":   '&lt;!DOCTYPE html>\n&lt;html>\n' +
                            $("html")
                                .html()
                                .replace(/[<>]/g, function(m) { return {'<':'&lt;','>':'&gt;'}[m]})
                                .replace(/((ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?)/gi,'<a href="$1">$1</a>') +
                            '\n&lt;/html>',
                    "class": "prettyprint"
                }).appendTo("#source-code");

                prettyPrint();
            });
        </script>

      
    </body>
</html>
